<%= simple_form_for @post do |f| %>
  <%= f.input :title, label: '隊名' %>
  <%= f.input :address, label: '地點' %>
  
  <p>球聚時間：每週 <%= f.select :day, t(:"date.day_names").zip((0..6).to_a) %></p>
   
  <p><%= f.input :comment, label: '備註', placeholder: '請註明零打費用及程度要求' %></p>
  
  <p><%= f.input :image, as: :file, label: '球隊照片' %></p>
  
  <p>
    <%= link_to "Cancel", root_path, class: "btn btn-default" %>
    <%= f.submit :更新, data: { disable_with: "Submitting..."}, class: "btn btn-primary" %>
  </p> 
<% end %>