<%= simple_form_for @post do |f| %>
  <%= f.input :title %>
  <%= f.input :location %>
  <%= f.label :球聚時間 %>
  <%= f.select :day, I18n.t(:"date.day_names") %>
  <%= f.input :comment %>
 
  <p>
    <%= link_to "Cancel", posts_path %>
    <%= f.submit :submit, data: { disable_with: "Submitting..."} %>
  </p> 
<% end %>