<h2>
  <%= @post.title %>
</h2>

<p>
  地點：<%= @post.location %>
</p>

<p>
  時間：<%= next_meetup_date(@post.day.to_i) %>
</p>

<section id="comments">
  備註：<%= @post.comment %>
</section>

<p>
  <%= link_to "上一頁", posts_path %>
  <%= link_to "編輯", edit_post_path(@post) %>
</p>